In [632]:
import pandas as pd
from pathlib import Path

school_data_to_load = Path("resources/schools_complete.csv")
student_data_to_load = Path("resources/students_complete.csv")

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [633]:
school_count=len(school_data_complete["school_name"].unique())
school_names=school_data_complete["school_name"].unique()
school_count
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [634]:
student_count = len(school_data_complete["student_name"].value_counts())
student_count

32715

In [635]:
total_budget_values = school_data_complete["budget"].unique()
total_budget=total_budget_values.sum()
total_budget

24649428

In [636]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [637]:
average_reading_score =school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [638]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [639]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

102.73574812777014

In [640]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

78.031484028733

In [641]:
district_summary = pd.DataFrame({"Total Number of Unique Schools": [school_count],
                                "Total Students": student_count,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": passing_math_percentage,
                                "% Passing Reading": passing_reading_percentage,
                                "% Overall Passing": overall_passing_rate })
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"32,715","$24,649,428.00",78.985371,81.87784,89.775332,102.735748,78.031484

In [642]:
school_types = school_data.set_index(["school_name"])["type"]

school_types = school_types.to_frame("school_types")
school_types

                      school_types
school_name
Huang High School         District
Figueroa High School      District
Shelton High School        Charter
Hernandez High School     District
Griffin High School        Charter
Wilson High School         Charter
Cabrera High School        Charter
Bailey High School        District
Holden High School         Charter
Pena High School           Charter
Wright High School         Charter
Rodriguez High School     District
Johnson High School       District
Ford High School          District
Thomas High School         Charter

In [643]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts_df=per_school_counts.to_frame("Total Students")

In [644]:
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget = per_school_budget.to_frame("Total School Budget")
per_school_budget

                       Total School Budget
school_name
Huang High School                  1910635
Figueroa High School               1884411
Shelton High School                1056600
Hernandez High School              3022020
Griffin High School                 917500
Wilson High School                 1319574
Cabrera High School                1081356
Bailey High School                 3124928
Holden High School                  248087
Pena High School                    585858
Wright High School                 1049400
Rodriguez High School              2547363
Johnson High School                3094650
Ford High School                   1763916
Thomas High School                 1043130

In [645]:

per_school_budget

                       Total School Budget
school_name
Huang High School                  1910635
Figueroa High School               1884411
Shelton High School                1056600
Hernandez High School              3022020
Griffin High School                 917500
Wilson High School                 1319574
Cabrera High School                1081356
Bailey High School                 3124928
Holden High School                  248087
Pena High School                    585858
Wright High School                 1049400
Rodriguez High School              2547363
Johnson High School                3094650
Ford High School                   1763916
Thomas High School                 1043130

In [646]:

school_count=school_data_complete["school_name"].value_counts()

In [647]:
school_count=school_data_complete["school_name"].value_counts()
per_school_capita = total_budget_values/school_count
per_school_capita.to_frame("Per School Capita")

                       Per School Capita
school_name
Bailey High School            383.970056
Johnson High School           395.801512
Hernandez High School         227.961165
Rodriguez High School         755.693923
Figueroa High School          311.122414
Huang High School             452.373672
Ford High School              394.799562
Wilson High School           1368.781428
Cabrera High School           133.523681
Wright High School            325.476667
Shelton High School           595.911414
Thomas High School           1558.020183
Griffin High School          2108.072207
Pena High School             1833.592516
Holden High School           2442.927400

In [648]:
bailey_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
bailey_mathscores_mean= bailey_scores_math["math_score"].mean()

johnson_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
johnson_mathscores_mean= johnson_scores_math["math_score"].mean()

hernandez_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
hernandez_mathscores_mean = hernandez_scores_math["math_score"].mean()

rodriguez_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
rodriguez_mathscores_mean = rodriguez_scores_math["math_score"].mean()

figueroa_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
figueroa_mathscores_mean = figueroa_scores_math["math_score"].mean()

huang_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
huang_mathscores_mean = huang_scores_math["math_score"].mean()

ford_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
ford_mathscores_mean = ford_scores_math["math_score"].mean()

wilson_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
wilson_mathscores_mean = wilson_scores_math["math_score"].mean()

cabrera_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
cabrera_mathscores_mean = cabrera_scores_math["math_score"].mean()

wright_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
wright_mathscores_mean = wright_scores_math["math_score"].mean()

shelton_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
shelton_mathscores_mean = shelton_scores_math["math_score"].mean()

thomas_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
thomas_mathscores_mean = thomas_scores_math["math_score"].mean()

griffin_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
griffin_mathscores_mean = griffin_scores_math["math_score"].mean()

pena_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
pena_mathscores_mean = pena_scores_math["math_score"].mean()

holden_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
holden_mathscores_mean = holden_scores_math["math_score"].mean()

per_school_math= pd.DataFrame(
    {"school_name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
    "Average Math Scores":[bailey_mathscores_mean, johnson_mathscores_mean, hernandez_mathscores_mean,rodriguez_mathscores_mean,
                          figueroa_mathscores_mean, huang_mathscores_mean, ford_mathscores_mean, wilson_mathscores_mean, 
                          cabrera_mathscores_mean, wright_mathscores_mean, shelton_mathscores_mean, thomas_mathscores_mean,
                          griffin_mathscores_mean, pena_mathscores_mean, holden_mathscores_mean]
    })
per_school_math.head(16)

              school_name  Average Math Scores
0      Bailey High School            77.048432
1     Johnson High School            77.072464
2   Hernandez High School            77.289752
3   Rodriguez High School            76.842711
4    Figueroa High School            76.711767
5       Huang High School            76.629414
6        Ford High School            77.102592
7      Wilson High School            83.274201
8     Cabrera High School            83.061895
9      Wright High School            83.682222
10    Shelton High School            83.359455
11     Thomas High School            83.418349
12    Griffin High School            83.351499
13       Pena High School            83.839917
14     Holden High School            83.803279

In [649]:
bailey_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
bailey_readingscores_mean= bailey_scores_reading["reading_score"].mean()

johnson_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
johnson_readingscores_mean= johnson_scores_reading["reading_score"].mean()

hernandez_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
hernandez_readingscores_mean = hernandez_scores_reading["reading_score"].mean()

rodriguez_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
rodriguez_readingscores_mean = rodriguez_scores_reading["reading_score"].mean()

figueroa_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
figueroa_readingscores_mean = figueroa_scores_math["reading_score"].mean()

huang_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
huang_readingscores_mean = huang_scores_reading["reading_score"].mean()

ford_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
ford_readingscores_mean = ford_scores_reading["reading_score"].mean()

wilson_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
wilson_readingscores_mean = wilson_scores_reading["reading_score"].mean()

cabrera_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
cabrera_readingscores_mean = cabrera_scores_reading["reading_score"].mean()

wright_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
wright_readingscores_mean = wright_scores_reading["reading_score"].mean()

shelton_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
shelton_readingscores_mean = shelton_scores_reading["reading_score"].mean()

thomas_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
thomas_readingscores_mean = thomas_scores_reading["reading_score"].mean()

griffin_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
griffin_readingscores_mean = griffin_scores_reading["reading_score"].mean()

pena_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
pena_readingscores_mean = pena_scores_reading["reading_score"].mean()

holden_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
holden_readingscores_mean = holden_scores_reading["reading_score"].mean()

per_school_reading= pd.DataFrame(
    {"school_name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
    "Average Reading Scores":[bailey_readingscores_mean, johnson_readingscores_mean, hernandez_readingscores_mean,rodriguez_readingscores_mean,
                          figueroa_readingscores_mean, huang_readingscores_mean, ford_readingscores_mean, wilson_readingscores_mean, 
                          cabrera_readingscores_mean, wright_readingscores_mean, shelton_readingscores_mean, thomas_readingscores_mean,
                          griffin_readingscores_mean, pena_readingscores_mean, holden_readingscores_mean]
    })
per_school_reading.head(16)

              school_name  Average Reading Scores
0      Bailey High School               81.033963
1     Johnson High School               80.966394
2   Hernandez High School               80.934412
3   Rodriguez High School               80.744686
4    Figueroa High School               81.158020
5       Huang High School               81.182722
6        Ford High School               80.746258
7      Wilson High School               83.989488
8     Cabrera High School               83.975780
9      Wright High School               83.955000
10    Shelton High School               83.725724
11     Thomas High School               83.848930
12    Griffin High School               83.816757
13       Pena High School               84.044699
14     Holden High School               83.814988

In [650]:
# Total number of students by school

In [651]:
bailey_students = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
bailey_students = len(bailey_students)

Figueroa_students = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
Figueroa_students = len(Figueroa_students)

johnson_students = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
johnson_students = len(johnson_students)

Hernandez_students = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
Hernandez_students = len(Hernandez_students)

Rodriguez_students = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
Rodriguez_students = len(Rodriguez_students)

Huang_students = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
Huang_students = len(Huang_students)

Ford_students = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
Ford_students = len(Ford_students)

Wilson_students = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
Wilson_students = len(Wilson_students)

Cabrera_students = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
Cabrera_students = len(Cabrera_students)

Wright_students = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
Wright_students = len(Wright_students)

Shelton_students = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
Shelton_students = len(Shelton_students)

Thomas_students = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
Thomas_students = len(Thomas_students)

Griffin_students = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
Griffin_students = len(Griffin_students)

Pena_students = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
Pena_students = len(Pena_students)

Holden_students = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
Holden_students = len(Holden_students)

bailey_students

4976

In [652]:
#Percentage of Students Passing Math by School

In [653]:
students_passing_math_bailey = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
students_passing_math_bailey = students_passing_math_bailey.loc[school_data_complete["math_score"] >= 70]
students_passing_math_bailey = len(students_passing_math_bailey["math_score"])
students_passing_math_bailey= (students_passing_math_bailey / bailey_students) * 100
students_passing_math_bailey

66.68006430868168

In [654]:
students_passing_math_Figueroa = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
students_passing_math_Figueroa = students_passing_math_Figueroa.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Figueroa = len(students_passing_math_Figueroa["math_score"])
students_passing_math_Figueroa = (students_passing_math_Figueroa / Figueroa_students) * 100
students_passing_math_Figueroa

65.98847066802306

In [655]:
students_passing_math_johnson = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
students_passing_math_johnson = students_passing_math_johnson.loc[school_data_complete["math_score"] >= 70]
students_passing_math_johnson = len(students_passing_math_johnson["math_score"])
students_passing_math_johnson = (students_passing_math_johnson / johnson_students) * 100
students_passing_math_johnson

66.0575509346776

In [656]:
students_passing_math_Hernandez = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
students_passing_math_Hernandez = students_passing_math_Hernandez.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Hernandez = len(students_passing_math_Hernandez["math_score"])
students_passing_math_Hernandez = (students_passing_math_Hernandez/ Hernandez_students) * 100
students_passing_math_Hernandez

66.7529665587918

In [657]:
students_passing_math_Rodriguez = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
students_passing_math_Rodriguez = students_passing_math_Rodriguez.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Rodriguez = len(students_passing_math_Rodriguez["math_score"])
students_passing_math_Rodriguez = (students_passing_math_Rodriguez / Rodriguez_students) * 100

In [658]:
students_passing_math_Huang = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
students_passing_math_Huang = students_passing_math_Huang.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Huang = len(students_passing_math_Huang["math_score"])
students_passing_math_Huang = (students_passing_math_Huang / Huang_students) * 100

In [659]:
students_passing_math_Ford = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
students_passing_math_Ford = students_passing_math_Ford.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Ford = len(students_passing_math_Ford["math_score"])
students_passing_math_Ford = (students_passing_math_Ford/ Ford_students) * 100

In [660]:
students_passing_math_Wilson = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
students_passing_math_Wilson = students_passing_math_Wilson.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Wilson = len(students_passing_math_Wilson["math_score"])
students_passing_math_Wilson = (students_passing_math_Wilson / Wilson_students) * 100

In [661]:
students_passing_math_Cabrera = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
students_passing_math_Cabrera = students_passing_math_Cabrera.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Cabrera = len(students_passing_math_Cabrera["math_score"])
students_passing_math_Cabrera = (students_passing_math_Cabrera/ Cabrera_students) * 100

In [662]:
students_passing_math_Wright = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
students_passing_math_Wright = students_passing_math_Wright.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Wright = len(students_passing_math_Wright["math_score"])
students_passing_math_Wright = (students_passing_math_Wright / Wright_students) * 100

In [663]:
students_passing_math_Shelton = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
students_passing_math_Shelton = students_passing_math_Shelton .loc[school_data_complete["math_score"] >= 70]
students_passing_math_Shelton = len(students_passing_math_Shelton["math_score"])
students_passing_math_Shelton = (students_passing_math_Shelton / Shelton_students) * 100

In [664]:
students_passing_math_Thomas = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
students_passing_math_Thomas = students_passing_math_Thomas.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Thomas = len(students_passing_math_Thomas["math_score"])
students_passing_math_Thomas = (students_passing_math_Thomas / Thomas_students) * 100

In [665]:
students_passing_math_Griffin = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
students_passing_math_Griffin = students_passing_math_Griffin.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Griffin = len(students_passing_math_Griffin["math_score"])
students_passing_math_Griffin = (students_passing_math_Griffin / Griffin_students) * 100

In [666]:
students_passing_math_Pena = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
students_passing_math_Pena = students_passing_math_Pena.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Pena = len(students_passing_math_Pena["math_score"])
students_passing_math_Pena = (students_passing_math_Pena / Pena_students) * 100

In [667]:
students_passing_math_Holden = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
students_passing_math_Holden = students_passing_math_Holden.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Holden = len(students_passing_math_Holden["math_score"])
students_passing_math_Holden = (students_passing_math_Holden / Holden_students) * 100

In [668]:
school_students_passing_math = pd.DataFrame(
    {"school_name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
     "Percentage Passing Math": [students_passing_math_bailey,students_passing_math_johnson, students_passing_math_Hernandez,
                                 students_passing_math_Rodriguez, students_passing_math_Figueroa, students_passing_math_Huang, students_passing_math_Ford, 
                                 students_passing_math_Wilson, students_passing_math_Cabrera, students_passing_math_Wright, 
                                 students_passing_math_Shelton, students_passing_math_Thomas, students_passing_math_Griffin, 
                                 students_passing_math_Pena, students_passing_math_Holden]})
school_students_passing_math.head(16)

              school_name  Percentage Passing Math
0      Bailey High School                66.680064
1     Johnson High School                66.057551
2   Hernandez High School                66.752967
3   Rodriguez High School                66.366592
4    Figueroa High School                65.988471
5       Huang High School                65.683922
6        Ford High School                68.309602
7      Wilson High School                93.867718
8     Cabrera High School                94.133477
9      Wright High School                93.333333
10    Shelton High School                93.867121
11     Thomas High School                93.272171
12    Griffin High School                93.392371
13       Pena High School                94.594595
14     Holden High School                92.505855

In [669]:
#Percentage of Students Passing Reading by School

In [670]:
students_passing_reading_bailey = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
students_passing_reading_bailey = students_passing_reading_bailey.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_bailey = len(students_passing_reading_bailey["reading_score"])
students_passing_reading_bailey= (students_passing_reading_bailey / bailey_students) * 100
students_passing_reading_bailey

81.93327974276528

In [671]:
students_passing_reading_Figueroa = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
students_passing_reading_Figueroa = students_passing_reading_Figueroa.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Figueroa = len(students_passing_reading_Figueroa["reading_score"])
students_passing_reading_Figueroa = (students_passing_reading_Figueroa / Figueroa_students) * 100
students_passing_reading_Figueroa

80.73923363852154

In [672]:
students_passing_reading_johnson = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
students_passing_reading_johnson = students_passing_reading_johnson.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_johnson = len(students_passing_reading_johnson["reading_score"])
students_passing_reading_johnson = (students_passing_reading_johnson / johnson_students) * 100
students_passing_reading_johnson

81.2224322621298

In [673]:
students_passing_reading_Hernandez = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
students_passing_reading_Hernandez = students_passing_reading_Hernandez.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Hernandez = len(students_passing_reading_Hernandez["reading_score"])
students_passing_reading_Hernandez = (students_passing_reading_Hernandez/ Hernandez_students) * 100
students_passing_reading_Hernandez

80.86299892125135

In [674]:
students_passing_reading_Rodriguez = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
students_passing_reading_Rodriguez = students_passing_reading_Rodriguez.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Rodriguez = len(students_passing_reading_Rodriguez["reading_score"])
students_passing_reading_Rodriguez = (students_passing_reading_Rodriguez / Rodriguez_students) * 100
students_passing_reading_Rodriguez

80.22005501375344

In [675]:
students_passing_reading_Huang = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
students_passing_reading_Huang = students_passing_reading_Huang.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Huang = len(students_passing_reading_Huang["reading_score"])
students_passing_reading_Huang = (students_passing_reading_Huang / Huang_students) * 100
students_passing_reading_Huang

81.31642098045938

In [676]:
students_passing_reading_Ford = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
students_passing_reading_Ford = students_passing_reading_Ford.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Ford = len(students_passing_reading_Ford["reading_score"])
students_passing_reading_Ford = (students_passing_reading_Ford/ Ford_students) * 100
students_passing_reading_Ford

79.29901423877328

In [677]:
students_passing_reading_Wilson = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
students_passing_reading_Wilson = students_passing_reading_Wilson.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Wilson = len(students_passing_reading_Wilson["reading_score"])
students_passing_reading_Wilson = (students_passing_reading_Wilson / Wilson_students) * 100
students_passing_reading_Wilson

96.53964082347788

In [678]:
students_passing_reading_Cabrera = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
students_passing_reading_Cabrera = students_passing_reading_Cabrera.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Cabrera = len(students_passing_reading_Cabrera["reading_score"])
students_passing_reading_Cabrera = (students_passing_reading_Cabrera/ Cabrera_students) * 100
students_passing_reading_Cabrera

97.03982777179763

In [679]:
students_passing_reading_Wright = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
students_passing_reading_Wright = students_passing_reading_Wright.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Wright = len(students_passing_reading_Wright["reading_score"])
students_passing_reading_Wright = (students_passing_reading_Wright / Wright_students) * 100
students_passing_reading_Wright

96.61111111111111

In [680]:
students_passing_reading_Shelton = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
students_passing_reading_Shelton = students_passing_reading_Shelton .loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Shelton = len(students_passing_reading_Shelton["reading_score"])
students_passing_reading_Shelton = (students_passing_reading_Shelton / Shelton_students) * 100
students_passing_reading_Shelton

95.85462805224304

In [681]:
students_passing_reading_Thomas = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
students_passing_reading_Thomas = students_passing_reading_Thomas.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Thomas = len(students_passing_reading_Thomas["reading_score"])
students_passing_reading_Thomas = (students_passing_reading_Thomas / Thomas_students) * 100
students_passing_reading_Thomas

97.30886850152906

In [682]:
students_passing_reading_Griffin = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
students_passing_reading_Griffin = students_passing_reading_Griffin.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Griffin = len(students_passing_reading_Griffin["reading_score"])
students_passing_reading_Griffin = (students_passing_reading_Griffin / Griffin_students) * 100
students_passing_reading_Griffin

97.13896457765668

In [683]:
students_passing_reading_Pena = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
students_passing_reading_Pena = students_passing_reading_Pena.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Pena = len(students_passing_reading_Pena["reading_score"])
students_passing_reading_Pena = (students_passing_reading_Pena / Pena_students) * 100
students_passing_reading_Pena

95.94594594594594

In [684]:
students_passing_reading_Holden = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
students_passing_reading_Holden = students_passing_reading_Holden.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Holden = len(students_passing_reading_Holden["reading_score"])
students_passing_reading_Holden = (students_passing_reading_Holden / Holden_students) * 100
students_passing_reading_Holden

96.25292740046838

In [685]:
school_students_passing_reading = pd.DataFrame(
    {"school_name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
     "Percentage Passing Reading": [students_passing_reading_bailey,students_passing_reading_johnson, students_passing_reading_Hernandez,
                                 students_passing_reading_Rodriguez, students_passing_reading_Figueroa, students_passing_reading_Huang, students_passing_reading_Ford, 
                                 students_passing_reading_Wilson, students_passing_reading_Cabrera, students_passing_reading_Wright, 
                                 students_passing_reading_Shelton, students_passing_reading_Thomas, students_passing_reading_Griffin, 
                                 students_passing_reading_Pena, students_passing_reading_Holden]})
school_students_passing_reading.head(16)

              school_name  Percentage Passing Reading
0      Bailey High School                   81.933280
1     Johnson High School                   81.222432
2   Hernandez High School                   80.862999
3   Rodriguez High School                   80.220055
4    Figueroa High School                   80.739234
5       Huang High School                   81.316421
6        Ford High School                   79.299014
7      Wilson High School                   96.539641
8     Cabrera High School                   97.039828
9      Wright High School                   96.611111
10    Shelton High School                   95.854628
11     Thomas High School                   97.308869
12    Griffin High School                   97.138965
13       Pena High School                   95.945946
14     Holden High School                   96.252927

In [686]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading_df = school_students_passing_math_and_reading.to_frame("school_students_passing_math_and_reading")
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [687]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate = overall_passing_rate.to_frame("Overall Passing Rate")
overall_passing_rate

                       Overall Passing Rate
school_name
Bailey High School                54.642283
Cabrera High School               91.334769
Figueroa High School              53.204476
Ford High School                  54.289887
Griffin High School               90.599455
Hernandez High School             53.527508
Holden High School                89.227166
Huang High School                 53.513884
Johnson High School               53.539172
Pena High School                  90.540541
Rodriguez High School             52.988247
Shelton High School               89.892107
Thomas High School                90.948012
Wilson High School                90.582567
Wright High School                90.333333

In [688]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above
per_school_summary = pd.merge(school_types,per_school_counts_df, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_budget, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_capita, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_math, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_reading, on="school_name")
per_school_summary = pd.merge(per_school_summary, school_students_passing_math, on="school_name")
per_school_summary = pd.merge(per_school_summary, school_students_passing_reading, on="school_name")
per_school_summary = pd.merge(per_school_summary, overall_passing_rate, on="school_name")
per_school_summary

,school_name,school_types,Total Students,Total School Budget,count,Average Math Scores,Average Reading Scores,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
0,Huang High School,District,2917,1910635,452.373672,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,1884411,311.122414,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,1056600,595.911414,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,3022020,227.961165,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,917500,2108.072207,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,1368.781428,83.274201,83.989488,93.867718,96.539641,90.582567
6,Cabrera High School,Charter,1858,1081356,133.523681,83.061895,83.975780,94.133477,97.039828,91.334769
7,Bailey High School,District,4976,3124928,383.970056,77.048432,81.033963,66.680064,81.933280,54.642283
8,Holden High School,Charter,427,248087,2442.927400,83.803279,83.814988,92.505855,96.252927,89.227166
9,Pena High School,Charter,962,585858,1833.592516,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,1049400,325.476667,83.682222,83.955000,93.333333,96.611111,90.333333
11,Rodriguez High School,District,3999,2547363,755.693923,76.842711,80.744686,66.366592,80.220055,52.988247
12,Johnson High School,District,4761,3094650,395.801512,77.072464,80.966394,66.057551,81.222432,53.539172
13,Ford High School,District,2739,1763916,394.799562,77.102592,80.746258,68.309602,79.299014,54.289887
14,Thomas High School,Charter,1635,1043130,1558.020183,83.418349,83.848930,93.272171,97.308869,90.948012

In [689]:
per_school_summary.rename(columns={'count': 'Per Student Budget','school_name':'School Name','school_types':'School Types'}, inplace=True)
per_school_summary.head()

,School Name,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Scores,Average Reading Scores,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
0,Huang High School,District,2917,1910635,452.373672,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,1884411,311.122414,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,1056600,595.911414,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,3022020,227.961165,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,917500,2108.072207,83.351499,83.816757,93.392371,97.138965,90.599455

In [690]:
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary.head()

,School Name,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Scores,Average Reading Scores,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
0,Huang High School,District,2917,"$1,910,635.00",$452.37,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,"$1,884,411.00",$311.12,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,"$1,056,600.00",$595.91,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,"$3,022,020.00",$227.96,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,"$917,500.00","$2,108.07",83.351499,83.816757,93.392371,97.138965,90.599455

In [691]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["Overall Passing Rate"],ascending=False)
top_schools.head(5)

,School Name,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Scores,Average Reading Scores,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
6,Cabrera High School,Charter,1858,"$1,081,356.00",$133.52,83.061895,83.975780,94.133477,97.039828,91.334769
14,Thomas High School,Charter,1635,"$1,043,130.00","$1,558.02",83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,"$917,500.00","$2,108.07",83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,"$1,319,574.00","$1,368.78",83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,"$585,858.00","$1,833.59",83.839917,84.044699,94.594595,95.945946,90.540541

In [692]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["Overall Passing Rate"],ascending=True)
bottom_schools.head(5)

,School Name,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Scores,Average Reading Scores,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
11,Rodriguez High School,District,3999,"$2,547,363.00",$755.69,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,"$1,884,411.00",$311.12,76.711767,81.158020,65.988471,80.739234,53.204476
0,Huang High School,District,2917,"$1,910,635.00",$452.37,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,"$3,022,020.00",$227.96,77.289752,80.934412,66.752967,80.862999,53.527508
12,Johnson High School,District,4761,"$3,094,650.00",$395.80,77.072464,80.966394,66.057551,81.222432,53.539172

In [761]:
#Math Scores By Grade

In [745]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [755]:
ninth_grader_math_grades = ninth_graders.set_index(["school_name"])["math_score"]
ninth_grader_math_grades = ninth_grader_math_grades.to_frame("ninth grader math Grades")
ninth_grader_math_grades = ninth_grader_math_grades.groupby(["school_name"])
ninth_grader_math_grades=ninth_grader_math_grades.mean()

In [756]:
tenth_grader_math_grades = tenth_graders.set_index(["school_name"])["math_score"]
tenth_grader_math_grades = tenth_grader_math_grades.to_frame("tenth grader math Grades")
tenth_grader_math_grades = tenth_grader_math_grades.groupby(["school_name"])
tenth_grader_math_grades=tenth_grader_math_grades.mean()

In [757]:
eleventh_grader_math_grades = eleventh_graders.set_index(["school_name"])["math_score"]
eleventh_grader_math_grades = eleventh_grader_math_grades.to_frame("eleventh grader math Grades")
eleventh_grader_math_grades = eleventh_grader_math_grades.groupby(["school_name"])
eleventh_grader_math_grades=eleventh_grader_math_grades.mean()

In [758]:
twelfth_grader_math_grades = twelfth_graders.set_index(["school_name"])["math_score"]
twelfth_grader_math_grades = twelfth_grader_math_grades.to_frame("twelfth grader math Grades")
twelfth_grader_math_grades = twelfth_grader_math_grades.groupby(["school_name"])
twelfth_grader_math_grades=twelfth_grader_math_grades.mean()

In [759]:
math_scores_by_grade = pd.merge(ninth_grader_math_grades, tenth_grader_math_grades, on="school_name")
math_scores_by_grade = pd.merge(math_scores_by_grade, eleventh_grader_math_grades, on="school_name")
math_scores_by_grade = pd.merge(math_scores_by_grade,twelfth_grader_math_grades,on="school_name")

In [760]:
math_scores_by_grade.index.name = None
math_scores_by_grade

,ninth grader math Grades,tenth grader math Grades,eleventh grader math Grades,twelfth grader math Grades
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [764]:
#Reading Scores by Grade

In [765]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [766]:
ninth_grader_reading_grades = ninth_graders.set_index(["school_name"])["reading_score"]
ninth_grader_reading_grades = ninth_grader_reading_grades.to_frame("ninth grader reading Grades")
ninth_grader_reading_grades = ninth_grader_reading_grades.groupby(["school_name"])
ninth_grader_reading_grades=ninth_grader_reading_grades.mean()

In [767]:
tenth_grader_reading_grades = tenth_graders.set_index(["school_name"])["reading_score"]
tenth_grader_reading_grades = tenth_grader_reading_grades.to_frame("tenth grader reading Grades")
tenth_grader_reading_grades = tenth_grader_reading_grades.groupby(["school_name"])
tenth_grader_reading_grades=tenth_grader_reading_grades.mean()

In [768]:
eleventh_grader_reading_grades = eleventh_graders.set_index(["school_name"])["reading_score"]
eleventh_grader_reading_grades = eleventh_grader_reading_grades.to_frame("eleventh grader reading Grades")
eleventh_grader_reading_grades = eleventh_grader_reading_grades.groupby(["school_name"])
eleventh_grader_reading_grades=eleventh_grader_reading_grades.mean()

In [769]:
twelfth_grader_reading_grades = twelfth_graders.set_index(["school_name"])["reading_score"]
twelfth_grader_reading_grades = twelfth_grader_reading_grades.to_frame("twelfth grader reading Grades")
twelfth_grader_reading_grades = twelfth_grader_reading_grades.groupby(["school_name"])
twelfth_grader_reading_grades=twelfth_grader_reading_grades.mean()

In [770]:
reading_scores_by_grade = pd.merge(ninth_grader_reading_grades, tenth_grader_reading_grades, on="school_name")
reading_scores_by_grade = pd.merge(reading_scores_by_grade, eleventh_grader_reading_grades, on="school_name")
reading_scores_by_grade = pd.merge(reading_scores_by_grade,twelfth_grader_reading_grades,on="school_name")

In [771]:
reading_scores_by_grade.index.name = None
reading_scores_by_grade

,ninth grader reading Grades,tenth grader reading Grades,eleventh grader reading Grades,twelfth grader reading Grades
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [772]:
#Scores by School Spending

In [773]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [774]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df