In [22]:
import pandas as pd
from pathlib import Path

school_data_to_load = Path("resources/schools_complete.csv")
student_data_to_load = Path("resources/students_complete.csv")

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [23]:
school_count=len(school_data_complete["school_name"].unique())
school_names=school_data_complete["school_name"].unique()
school_count
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [24]:
student_count = len(school_data_complete["student_name"].value_counts())
student_count

32715

In [25]:
total_budget_values = school_data_complete["budget"].unique()
total_budget=total_budget_values.sum()
total_budget

24649428

In [26]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [27]:
average_reading_score =school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [28]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [29]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

102.73574812777014

In [30]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

78.031484028733

In [31]:
district_summary = pd.DataFrame({"Total Number of Unique Schools": [school_count],
                                "Total Students": student_count,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": passing_math_percentage,
                                "% Passing Reading": passing_reading_percentage,
                                "% Overall Passing": overall_passing_rate })
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"32,715","$24,649,428.00",78.985371,81.87784,89.775332,102.735748,78.031484

In [32]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [33]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [34]:
per_school_budget = school_data_complete[["school_name", "budget"]].value_counts()
per_school_budget

school_name            budget
Bailey High School     3124928    4976
Johnson High School    3094650    4761
Hernandez High School  3022020    4635
Rodriguez High School  2547363    3999
Figueroa High School   1884411    2949
Huang High School      1910635    2917
Ford High School       1763916    2739
Wilson High School     1319574    2283
Cabrera High School    1081356    1858
Wright High School     1049400    1800
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Griffin High School    917500     1468
Pena High School       585858      962
Holden High School     248087      427
Name: count, dtype: int64

In [35]:
school_count=school_data_complete["school_name"].value_counts()
per_school_capita = total_budget_values/school_count
per_school_capita

school_name
Bailey High School        383.970056
Johnson High School       395.801512
Hernandez High School     227.961165
Rodriguez High School     755.693923
Figueroa High School      311.122414
Huang High School         452.373672
Ford High School          394.799562
Wilson High School       1368.781428
Cabrera High School       133.523681
Wright High School        325.476667
Shelton High School       595.911414
Thomas High School       1558.020183
Griffin High School      2108.072207
Pena High School         1833.592516
Holden High School       2442.927400
Name: count, dtype: float64

In [105]:
bailey_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
bailey_mathscores_mean= bailey_scores_math["math_score"].mean()

johnson_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
johnson_mathscores_mean= johnson_scores_math["math_score"].mean()

hernandez_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
hernandez_mathscores_mean = hernandez_scores_math["math_score"].mean()

rodriguez_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
rodriguez_mathscores_mean = rodriguez_scores_math["math_score"].mean()

figueroa_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
figueroa_mathscores_mean = figueroa_scores_math["math_score"].mean()

huang_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
huang_mathscores_mean = huang_scores_math["math_score"].mean()

ford_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
ford_mathscores_mean = ford_scores_math["math_score"].mean()

wilson_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
wilson_mathscores_mean = wilson_scores_math["math_score"].mean()

cabrera_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
cabrera_mathscores_mean = cabrera_scores_math["math_score"].mean()

wright_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
wright_mathscores_mean = wright_scores_math["math_score"].mean()

shelton_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
shelton_mathscores_mean = shelton_scores_math["math_score"].mean()

thomas_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
thomas_mathscores_mean = thomas_scores_math["math_score"].mean()

griffin_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
griffin_mathscores_mean = griffin_scores_math["math_score"].mean()

pena_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
pena_mathscores_mean = pena_scores_math["math_score"].mean()

holden_scores_math = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
holden_mathscores_mean = holden_scores_math["math_score"].mean()

per_school_math= pd.DataFrame(
    {"School Name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
    "Average Math Scores":[bailey_mathscores_mean, johnson_mathscores_mean, hernandez_mathscores_mean,rodriguez_mathscores_mean,
                          figueroa_mathscores_mean, huang_mathscores_mean, ford_mathscores_mean, wilson_mathscores_mean, 
                          cabrera_mathscores_mean, wright_mathscores_mean, shelton_mathscores_mean, thomas_mathscores_mean,
                          griffin_mathscores_mean, pena_mathscores_mean, holden_mathscores_mean]
    })
per_school_math.head(16)

              School Name  Average Math Scores
0      Bailey High School            77.048432
1     Johnson High School            77.072464
2   Hernandez High School            77.289752
3   Rodriguez High School            76.842711
4    Figueroa High School            76.711767
5       Huang High School            76.629414
6        Ford High School            77.102592
7      Wilson High School            83.274201
8     Cabrera High School            83.061895
9      Wright High School            83.682222
10    Shelton High School            83.359455
11     Thomas High School            83.418349
12    Griffin High School            83.351499
13       Pena High School            83.839917
14     Holden High School            83.803279

In [106]:
bailey_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
bailey_readingscores_mean= bailey_scores_reading["reading_score"].mean()

johnson_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
johnson_readingscores_mean= johnson_scores_reading["reading_score"].mean()

hernandez_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
hernandez_readingscores_mean = hernandez_scores_reading["reading_score"].mean()

rodriguez_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
rodriguez_readingscores_mean = rodriguez_scores_reading["reading_score"].mean()

figueroa_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
figueroa_readingscores_mean = figueroa_scores_math["reading_score"].mean()

huang_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
huang_readingscores_mean = huang_scores_reading["reading_score"].mean()

ford_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
ford_readingscores_mean = ford_scores_reading["reading_score"].mean()

wilson_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
wilson_readingscores_mean = wilson_scores_reading["reading_score"].mean()

cabrera_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
cabrera_readingscores_mean = cabrera_scores_reading["reading_score"].mean()

wright_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
wright_readingscores_mean = wright_scores_reading["reading_score"].mean()

shelton_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
shelton_readingscores_mean = shelton_scores_reading["reading_score"].mean()

thomas_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
thomas_readingscores_mean = thomas_scores_reading["reading_score"].mean()

griffin_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
griffin_readingscores_mean = griffin_scores_reading["reading_score"].mean()

pena_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
pena_readingscores_mean = pena_scores_reading["reading_score"].mean()

holden_scores_reading = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
holden_readingscores_mean = holden_scores_reading["reading_score"].mean()

per_school_reading= pd.DataFrame(
    {"School Name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
    "Average Math Scores":[bailey_readingscores_mean, johnson_readingscores_mean, hernandez_readingscores_mean,rodriguez_readingscores_mean,
                          figueroa_readingscores_mean, huang_readingscores_mean, ford_readingscores_mean, wilson_readingscores_mean, 
                          cabrera_readingscores_mean, wright_readingscores_mean, shelton_readingscores_mean, thomas_readingscores_mean,
                          griffin_readingscores_mean, pena_readingscores_mean, holden_readingscores_mean]
    })
per_school_reading.head(16)

              School Name  Average Math Scores
0      Bailey High School            81.033963
1     Johnson High School            80.966394
2   Hernandez High School            80.934412
3   Rodriguez High School            80.744686
4    Figueroa High School            81.158020
5       Huang High School            81.182722
6        Ford High School            80.746258
7      Wilson High School            83.989488
8     Cabrera High School            83.975780
9      Wright High School            83.955000
10    Shelton High School            83.725724
11     Thomas High School            83.848930
12    Griffin High School            83.816757
13       Pena High School            84.044699
14     Holden High School            83.814988

In [307]:
# Total number of students by school

In [271]:
bailey_students = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
bailey_students = len(bailey_students)

Figueroa_students = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
Figueroa_students = len(Figueroa_students)

johnson_students = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
johnson_students = len(johnson_students)

Hernandez_students = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
Hernandez_students = len(Hernandez_students)

Rodriguez_students = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
Rodriguez_students = len(Rodriguez_students)

Huang_students = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
Huang_students = len(Huang_students)

Ford_students = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
Ford_students = len(Ford_students)

Wilson_students = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
Wilson_students = len(Wilson_students)

Cabrera_students = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
Cabrera_students = len(Cabrera_students)

Wright_students = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
Wright_students = len(Wright_students)

Shelton_students = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
Shelton_students = len(Shelton_students)

Thomas_students = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
Thomas_students = len(Thomas_students)

Griffin_students = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
Griffin_students = len(Griffin_students)

Pena_students = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
Pena_students = len(Pena_students)

Holden_students = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
Holden_students = len(Holden_students)

bailey_students

4976

In [ ]:
#Percentage of Students Passing Math by School

In [281]:
students_passing_math_bailey = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
students_passing_math_bailey = students_passing_math_bailey.loc[school_data_complete["math_score"] >= 70]
students_passing_math_bailey = len(students_passing_math_bailey["math_score"])
students_passing_math_bailey= (students_passing_math_bailey / bailey_students) * 100
students_passing_math_bailey

66.68006430868168

In [286]:
students_passing_math_Figueroa = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
students_passing_math_Figueroa = students_passing_math_Figueroa.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Figueroa = len(students_passing_math_Figueroa["math_score"])
students_passing_math_Figueroa = (students_passing_math_Figueroa / Figueroa_students) * 100
students_passing_math_Figueroa

65.98847066802306

In [287]:
students_passing_math_johnson = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
students_passing_math_johnson = students_passing_math_johnson.loc[school_data_complete["math_score"] >= 70]
students_passing_math_johnson = len(students_passing_math_johnson["math_score"])
students_passing_math_johnson = (students_passing_math_johnson / johnson_students) * 100
students_passing_math_johnson

66.0575509346776

In [290]:
students_passing_math_Hernandez = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
students_passing_math_Hernandez = students_passing_math_Hernandez.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Hernandez = len(students_passing_math_Hernandez["math_score"])
students_passing_math_Hernandez = (students_passing_math_Hernandez/ Hernandez_students) * 100
students_passing_math_Hernandez

66.7529665587918

In [291]:
students_passing_math_Rodriguez = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
students_passing_math_Rodriguez = students_passing_math_Rodriguez.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Rodriguez = len(students_passing_math_Rodriguez["math_score"])
students_passing_math_Rodriguez = (students_passing_math_Rodriguez / Rodriguez_students) * 100

In [293]:
students_passing_math_Huang = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
students_passing_math_Huang = students_passing_math_Huang.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Huang = len(students_passing_math_Huang["math_score"])
students_passing_math_Huang = (students_passing_math_Huang / Huang_students) * 100

In [295]:
students_passing_math_Ford = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
students_passing_math_Ford = students_passing_math_Ford.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Ford = len(students_passing_math_Ford["math_score"])
students_passing_math_Ford = (students_passing_math_Ford/ Ford_students) * 100

In [296]:
students_passing_math_Wilson = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
students_passing_math_Wilson = students_passing_math_Wilson.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Wilson = len(students_passing_math_Wilson["math_score"])
students_passing_math_Wilson = (students_passing_math_Wilson / Wilson_students) * 100

In [297]:
students_passing_math_Cabrera = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
students_passing_math_Cabrera = students_passing_math_Cabrera.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Cabrera = len(students_passing_math_Cabrera["math_score"])
students_passing_math_Cabrera = (students_passing_math_Cabrera/ Cabrera_students) * 100

In [298]:
students_passing_math_Wright = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
students_passing_math_Wright = students_passing_math_Wright.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Wright = len(students_passing_math_Wright["math_score"])
students_passing_math_Wright = (students_passing_math_Wright / Wright_students) * 100

In [300]:
students_passing_math_Shelton = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
students_passing_math_Shelton = students_passing_math_Shelton .loc[school_data_complete["math_score"] >= 70]
students_passing_math_Shelton = len(students_passing_math_Shelton["math_score"])
students_passing_math_Shelton = (students_passing_math_Shelton / Shelton_students) * 100

In [301]:
students_passing_math_Thomas = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
students_passing_math_Thomas = students_passing_math_Thomas.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Thomas = len(students_passing_math_Thomas["math_score"])
students_passing_math_Thomas = (students_passing_math_Thomas / Thomas_students) * 100

In [302]:
students_passing_math_Griffin = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
students_passing_math_Griffin = students_passing_math_Griffin.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Griffin = len(students_passing_math_Griffin["math_score"])
students_passing_math_Griffin = (students_passing_math_Griffin / Griffin_students) * 100

In [303]:
students_passing_math_Pena = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
students_passing_math_Pena = students_passing_math_Pena.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Pena = len(students_passing_math_Pena["math_score"])
students_passing_math_Pena = (students_passing_math_Pena / Pena_students) * 100

In [304]:
students_passing_math_Holden = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
students_passing_math_Holden = students_passing_math_Holden.loc[school_data_complete["math_score"] >= 70]
students_passing_math_Holden = len(students_passing_math_Holden["math_score"])
students_passing_math_Holden = (students_passing_math_Holden / Holden_students) * 100

In [305]:
school_students_passing_math = pd.DataFrame(
    {"School Name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
     "Percentage Passing Math": [students_passing_math_bailey,students_passing_math_johnson, students_passing_math_Hernandez,
                                 students_passing_math_Rodriguez, students_passing_math_Figueroa, students_passing_math_Huang, students_passing_math_Ford, 
                                 students_passing_math_Wilson, students_passing_math_Cabrera, students_passing_math_Wright, 
                                 students_passing_math_Shelton, students_passing_math_Thomas, students_passing_math_Griffin, 
                                 students_passing_math_Pena, students_passing_math_Holden]})
school_students_passing_math.head(16)

              School Name  Percentage Passing Math
0      Bailey High School                66.680064
1     Johnson High School                66.057551
2   Hernandez High School                66.752967
3   Rodriguez High School                66.366592
4    Figueroa High School                65.988471
5       Huang High School                65.683922
6        Ford High School                68.309602
7      Wilson High School                93.867718
8     Cabrera High School                94.133477
9      Wright High School                93.333333
10    Shelton High School                93.867121
11     Thomas High School                93.272171
12    Griffin High School                93.392371
13       Pena High School                94.594595
14     Holden High School                92.505855

In [ ]:
#Percentage of Students Passing Reading by School

In [313]:
students_passing_reading_bailey = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School"]
students_passing_reading_bailey = students_passing_reading_bailey.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_bailey = len(students_passing_reading_bailey["reading_score"])
students_passing_reading_bailey= (students_passing_reading_bailey / bailey_students) * 100
students_passing_reading_bailey

81.93327974276528

In [314]:
students_passing_reading_Figueroa = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School"]
students_passing_reading_Figueroa = students_passing_reading_Figueroa.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Figueroa = len(students_passing_reading_Figueroa["reading_score"])
students_passing_reading_Figueroa = (students_passing_reading_Figueroa / Figueroa_students) * 100
students_passing_reading_Figueroa

80.73923363852154

In [315]:
students_passing_reading_johnson = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School"]
students_passing_reading_johnson = students_passing_reading_johnson.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_johnson = len(students_passing_reading_johnson["reading_score"])
students_passing_reading_johnson = (students_passing_reading_johnson / johnson_students) * 100
students_passing_reading_johnson

81.2224322621298

In [316]:
students_passing_reading_Hernandez = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School"]
students_passing_reading_Hernandez = students_passing_reading_Hernandez.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Hernandez = len(students_passing_reading_Hernandez["reading_score"])
students_passing_reading_Hernandez = (students_passing_reading_Hernandez/ Hernandez_students) * 100
students_passing_reading_Hernandez

80.86299892125135

In [317]:
students_passing_reading_Rodriguez = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School"]
students_passing_reading_Rodriguez = students_passing_reading_Rodriguez.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Rodriguez = len(students_passing_reading_Rodriguez["reading_score"])
students_passing_reading_Rodriguez = (students_passing_reading_Rodriguez / Rodriguez_students) * 100
students_passing_reading_Rodriguez

80.22005501375344

In [318]:
students_passing_reading_Huang = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School"]
students_passing_reading_Huang = students_passing_reading_Huang.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Huang = len(students_passing_reading_Huang["reading_score"])
students_passing_reading_Huang = (students_passing_reading_Huang / Huang_students) * 100
students_passing_reading_Huang

81.31642098045938

In [319]:
students_passing_reading_Ford = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School"]
students_passing_reading_Ford = students_passing_reading_Ford.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Ford = len(students_passing_reading_Ford["reading_score"])
students_passing_reading_Ford = (students_passing_reading_Ford/ Ford_students) * 100
students_passing_reading_Ford

79.29901423877328

In [320]:
students_passing_reading_Wilson = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School"]
students_passing_reading_Wilson = students_passing_reading_Wilson.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Wilson = len(students_passing_reading_Wilson["reading_score"])
students_passing_reading_Wilson = (students_passing_reading_Wilson / Wilson_students) * 100
students_passing_reading_Wilson

96.53964082347788

In [321]:
students_passing_reading_Cabrera = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School"]
students_passing_reading_Cabrera = students_passing_reading_Cabrera.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Cabrera = len(students_passing_reading_Cabrera["reading_score"])
students_passing_reading_Cabrera = (students_passing_reading_Cabrera/ Cabrera_students) * 100
students_passing_reading_Cabrera

97.03982777179763

In [322]:
students_passing_reading_Wright = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School"]
students_passing_reading_Wright = students_passing_reading_Wright.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Wright = len(students_passing_reading_Wright["reading_score"])
students_passing_reading_Wright = (students_passing_reading_Wright / Wright_students) * 100
students_passing_reading_Wright

96.61111111111111

In [323]:
students_passing_reading_Shelton = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School"]
students_passing_reading_Shelton = students_passing_reading_Shelton .loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Shelton = len(students_passing_reading_Shelton["reading_score"])
students_passing_reading_Shelton = (students_passing_reading_Shelton / Shelton_students) * 100
students_passing_reading_Shelton

95.85462805224304

In [324]:
students_passing_reading_Thomas = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School"]
students_passing_reading_Thomas = students_passing_reading_Thomas.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Thomas = len(students_passing_reading_Thomas["reading_score"])
students_passing_reading_Thomas = (students_passing_reading_Thomas / Thomas_students) * 100
students_passing_reading_Thomas

97.30886850152906

In [325]:
students_passing_reading_Griffin = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School"]
students_passing_reading_Griffin = students_passing_reading_Griffin.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Griffin = len(students_passing_reading_Griffin["reading_score"])
students_passing_reading_Griffin = (students_passing_reading_Griffin / Griffin_students) * 100
students_passing_reading_Griffin

97.13896457765668

In [326]:
students_passing_reading_Pena = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School"]
students_passing_reading_Pena = students_passing_reading_Pena.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Pena = len(students_passing_reading_Pena["reading_score"])
students_passing_reading_Pena = (students_passing_reading_Pena / Pena_students) * 100
students_passing_reading_Pena

95.94594594594594

In [327]:
students_passing_reading_Holden = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School"]
students_passing_reading_Holden = students_passing_reading_Holden.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_Holden = len(students_passing_reading_Holden["reading_score"])
students_passing_reading_Holden = (students_passing_reading_Holden / Holden_students) * 100
students_passing_reading_Holden

96.25292740046838

In [329]:
school_students_passing_reading = pd.DataFrame(
    {"School Name": ["Bailey High School", "Johnson High School", "Hernandez High School", "Rodriguez High School", "Figueroa High School",
                     "Huang High School", "Ford High School", "Wilson High School", "Cabrera High School", "Wright High School",
                     "Shelton High School", "Thomas High School", "Griffin High School", "Pena High School", "Holden High School"],
     "Percentage Passing Math": [students_passing_reading_bailey,students_passing_reading_johnson, students_passing_reading_Hernandez,
                                 students_passing_reading_Rodriguez, students_passing_reading_Figueroa, students_passing_reading_Huang, students_passing_reading_Ford, 
                                 students_passing_reading_Wilson, students_passing_reading_Cabrera, students_passing_reading_Wright, 
                                 students_passing_reading_Shelton, students_passing_reading_Thomas, students_passing_reading_Griffin, 
                                 students_passing_reading_Pena, students_passing_reading_Holden]})
school_students_passing_reading.head(16)

              School Name  Percentage Passing Math
0      Bailey High School                81.933280
1     Johnson High School                81.222432
2   Hernandez High School                80.862999
3   Rodriguez High School                80.220055
4    Figueroa High School                80.739234
5       Huang High School                81.316421
6        Ford High School                79.299014
7      Wilson High School                96.539641
8     Cabrera High School                97.039828
9      Wright High School                96.611111
10    Shelton High School                95.854628
11     Thomas High School                97.308869
12    Griffin High School                97.138965
13       Pena High School                95.945946
14     Holden High School                96.252927

In [330]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading.head()

school_name
Bailey High School      2719
Cabrera High School     1697
Figueroa High School    1569
Ford High School        1487
Griffin High School     1330
dtype: int64

In [58]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

NameError: name 'school_students_passing_math' is not defined

In [59]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

SyntaxError: invalid syntax (917558840.py, line 2)