In [278]:
import pandas as pd
from pathlib import Path

school_data_to_load = Path("resources/schools_complete.csv")
student_data_to_load = Path("resources/students_complete.csv")

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [279]:
school_count=len(school_data_complete["school_name"].unique())
school_names=school_data_complete["school_name"].unique()
school_count
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [280]:
student_count = len(school_data_complete["student_name"].value_counts())
student_count

32715

In [281]:
total_budget_values = school_data_complete["budget"].unique()
total_budget=total_budget_values.sum()
total_budget

24649428

In [282]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [283]:
average_reading_score =school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [284]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [285]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

102.73574812777014

In [286]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

78.031484028733

In [287]:
district_summary = pd.DataFrame({"Total Number of Unique Schools": [school_count],
                                "Total Students": student_count,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": passing_math_percentage,
                                "% Passing Reading": passing_reading_percentage,
                                "% Overall Passing": overall_passing_rate })
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"32,715","$24,649,428.00",78.985371,81.87784,89.775332,102.735748,78.031484

In [288]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [289]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [290]:
per_school_budget = school_data_complete[["school_name", "budget"]].value_counts()
per_school_budget

school_name            budget
Bailey High School     3124928    4976
Johnson High School    3094650    4761
Hernandez High School  3022020    4635
Rodriguez High School  2547363    3999
Figueroa High School   1884411    2949
Huang High School      1910635    2917
Ford High School       1763916    2739
Wilson High School     1319574    2283
Cabrera High School    1081356    1858
Wright High School     1049400    1800
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Griffin High School    917500     1468
Pena High School       585858      962
Holden High School     248087      427
Name: count, dtype: int64

In [291]:
school_count=school_data_complete["school_name"].value_counts()
per_school_capita = total_budget_values/school_count
per_school_capita

school_name
Bailey High School        383.970056
Johnson High School       395.801512
Hernandez High School     227.961165
Rodriguez High School     755.693923
Figueroa High School      311.122414
Huang High School         452.373672
Ford High School          394.799562
Wilson High School       1368.781428
Cabrera High School       133.523681
Wright High School        325.476667
Shelton High School       595.911414
Thomas High School       1558.020183
Griffin High School      2108.072207
Pena High School         1833.592516
Holden High School       2442.927400
Name: count, dtype: float64

In [ ]:
per_school_math =

In [ ]:
per_school_reading =